div {
  font-size: 36px;
}
.bookingData {
  overflow: hidden;
  margin-bottom: 10px;
}
.arrivalData {
  width: 90%;
  background-color: #25CF6C;
  border-radius: 10px;
  padding: 10px 0px;
  margin: auto;
  margin-top: 10px;
}
.bookingNumberData, .steamshipLineData, .originData, .destinationData, .vesselData, .voyageData {
  width: 40%;
  background-color: #25CF6C;
  border-radius: 10px;
  padding: 10px 0px;
  float: left;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 10px;
}

.title {
  color: white;
  font-size: 20px;
  font-weight: 200;
}
.data {
  color: white;
}