.containers {
  width: 90%;
  background-color: #25CF6C;
  border-radius: 10px;
  padding: 10px 0px;
  margin: auto;
  margin-top: 10px;
  clear: both;
  overflow: hidden;
}
.containerTitle {
  color: white;
  font-size: 20px;
  font-weight: 200;
  clear: both;
}
.containerData {
  color: white;
  clear: both;
}
.containerNumber, .containerSizeAndType {
  width: 50%;
  margin: auto;
  float: left;
}

@media(max-width: 700px) {
  .containerNumber, .containerSizeAndType {
    width: 100%;
    margin-top: 10px;
  }
}